.header {
	background: url('../assets/gradientBG.jpg');
	position: relative;
	height: 50vh;

	background-size: cover;
	z-index: 0;
	display: grid;
	place-content: center;
	text-align: center;
	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		backdrop-filter: blur(15px);
		z-index: -1;
	}
	h1 {
		font-size: 90px;
		margin-bottom: 50px;
		color: white;
		filter: drop-shadow(2px 4px 12px #0000006b);
	}
	h3 {
		width: 65%;
		margin: auto;
		line-height: 1.7;
	}
}
.postsHolder {
	display: flex;
	justify-content: space-around;
	align-items: self-start;
	padding: 20px;
	flex-wrap: wrap;
	li {
		position: relative;
		list-style: none;
		min-height: 250px;
		width: 350px;
		display: flex;
		box-shadow: 0 0 14px gainsboro;
		border-radius: 7px;
		margin: 15px;
		z-index: 0;
		h3 {
			width: 100%;
			margin-top: auto;
			background: #ffffffd9;
			padding: 10px;
			cursor: pointer;
		}
		&::before {
			content: '';
			position: absolute;
			top: 0;
			z-index: -1;
			left: 0;
			height: 100%;
			width: 100%;
		}
	}
}
.details {
	display: block !important;

	border-left: 5px solid #403e3e;
	border-radius: 0 !important;
	.detailsHeader {
		display: flex;
		justify-content: space-between;
		align-items: center;
		h3 {
			padding: 0;
			margin-bottom: 20px;
			margin-top: 10px;
			border-left: 30px solid black;
			padding: 5px 10px;
			transition: 0.3s;
			&:hover {
				background-color: black;
				color: white;
			}
		}
		span {
			flex-shrink: 0;
			padding: 5px 15px;
			margin-bottom: 10px;
		}
	}
	p {
		padding: 20px;
	}
}
.buttons {
	width: fit-content;
	max-width: 80%;
	margin: 20px auto;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	overflow: auto;
	padding: 5px;
	padding-bottom: 15px;
	&::-webkit-scrollbar {
		height: 8px;
		margin-top: 20px;
		cursor: pointer;
	}
	&::-webkit-scrollbar-track {
		box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	}

	&::-webkit-scrollbar-thumb {
		background-color: #4c4c4c;
		outline: 1px solid #000000;
		cursor: pointer;
		transition: 0.3s;
		&:hover {
			background-color: #37383a;
		}
	}
	button {
		all: unset;
		margin: 5px;
		height: 25px;
		width: 25px;
		display: grid;
		place-items: center;
		border: 1px solid black;
		flex-shrink: 0;
		cursor: pointer;
	}
	.active {
		background-color: #4c4c4c;
		color: white;
		border-color: #000000;
	}
}
