.Categories {
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  margin: 10px;
  width: 30%;
}

.Categories h3 {
  background: blue;
  padding: 10px;
  color: white;
  font-weight: 400;
  text-align: center;
}
