.Categories {
	border-radius: 5px 5px 0 0;
	overflow: hidden;
	margin: 10px;
	width: 300px;
	box-shadow: 0 0 14px gainsboro;
	position: sticky;
	top: 10px;
	height: calc(100vh - 35px);
	overflow: auto;
	flex-shrink: 0;
	&::-webkit-scrollbar {
		width: 8px;
	}
	&::-webkit-scrollbar-track {
		box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	}

	&::-webkit-scrollbar-thumb {
		background-color: #e95a8a;
		outline: 5px solid #8d113b;
		cursor: pointer;
		transition: 0.3s;
		&:hover {
			background-color: #e91e63;
		}
	}
	h3 {
		background: #e91e63;
		padding: 10px;
		color: white;
		font-weight: 400;
		text-align: center;
		position: sticky;
		top: 0;
		z-index: 9;
		box-shadow: 0 5px 14px gainsboro;
	}
	.Category {
		position: relative;
		cursor: pointer;
		overflow: hidden;
		margin: 15px;
		border-radius: 7px;
		box-shadow: 0 2px 14px gainsboro;
		background: linear-gradient(
			40deg,
			rgb(237, 169, 192) 13%,
			rgb(197, 160, 205) 87%
		);

		&:hover {
			h4 {
				color: white;
				&::after {
					width: 100%;
				}
			}
			&::after {
				background-color: #9292926e;
			}
		}
		&::after {
			content: '';
			position: absolute;
			transition: 0.3s;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			z-index: -1;
			background-color: #ffffff6e;
		}
		h4 {
			position: relative;
			margin: 10px;
			margin-right: 0;
			padding: 10px;
			background-color: #ffffffad;
			transition: 0.3s;
			z-index: 0;
			&::after {
				content: '';
				position: absolute;
				transition: 0.3s;
				top: 0;
				left: 0;
				width: 5px;
				height: 100%;
				z-index: -1;
				background-color: #e91e63;
			}
		}
		img {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);

			width: 100%;
			height: auto;
			min-height: 100%;
			z-index: -1;
			//opacity: 0.5;
			//filter: blur(5px) saturate(0.4);
		}
	}
}
@media only screen and (max-width: 481px) {
	.Categories {
		width: auto;
		position: static;
	}
}
