.Categories {
	border-radius: 5px 5px 0 0;
	overflow: hidden;
	margin: 10px;
	width: 300px;
	box-shadow: 0 0 14px gainsboro;
	h3 {
		background: #e91e63;
		padding: 10px;
		color: white;
		font-weight: 400;
		text-align: center;
	}
	.Category {
		position: relative;
		cursor: pointer;
		overflow: hidden;
		margin: 15px;
		border-radius: 7px;
		box-shadow: 0 2px 14px gainsboro;

		&:hover {
			h4 {
				color: white;
				&::after {
					width: 100%;
				}
			}
			&::after {
				background-color: #9292926e;
			}
		}
		&::after {
			content: '';
			position: absolute;
			transition: 0.3s;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			z-index: -1;
			background-color: #ffffff6e;
		}
		h4 {
			position: relative;
			margin: 10px;
			margin-right: 0;
			padding: 10px;
			background-color: #ffffffad;
			transition: 0.3s;
			z-index: 0;
			&::after {
				content: '';
				position: absolute;
				transition: 0.3s;
				top: 0;
				left: 0;
				width: 5px;
				height: 100%;
				z-index: -1;
				background-color: #e91e63;
			}
		}
		img {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);

			width: 100%;
			height: auto;
			min-height: 100%;
			z-index: -1;
			//opacity: 0.5;
			//filter: blur(5px) saturate(0.4);
		}
	}
}
@media only screen and (max-width: 481px) {
	.Categories {
		width: auto;
	}
}
