.container {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	padding: 10px;
	img {
		width: 100px;
		height: 100px;
		border-radius: 7px;
		margin-right: 10px;
	}
}
.text {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	p {
		font-size: 14px;
	}
}
